<div class="disclaimer" id="disclaimer">
<h2>Welcome to Victron Energy Community!</h2>

<a onclick="closeDisclaimer()" href="#" class="icon btn-flat" style="color: white;position: absolute;top: 10px;right: 10px;font-size: 1.25em;"><i class="fa fa-bars d-icon d-icon-bars" aria-hidden="true"></i></a>
Important! <br>
For product and technical support, as well as for warranty claims, your original dealer needs to resolve that - they are trained to provide first line of support. If you don’t know who your dealer is, please file a claim here.
<br>
<br>
<button onclick="closeDisclaimer()" href="#" style="background-color:#4790D0;border: 1px solid #387DC5;border-radius:5px;">Acknowledge</button>
</div>
