@font-face {
  font-family: MuseoSans;
  src: url($MuseoSans-300) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MuseoSans;
  src: url($MuseoSans-500) format('woff2');
  font-weight: bold;
  font-style: normal;
}

//User micro badges
.topic-list .posters>a {
  position: relative;
}

.group-PowerUser:after {
    content: "Power";
    background-color: #EE953D;
    color: white;
    font-weight: bold;
    font-size: .5em;
    position: absolute;
    left: 0px;
    bottom: -10px;
    padding: 1px 1px;
    border-radius: 3px;
    border: 1px solid #EE953D;
    height: 7px;
}

.group-VicPro:after {
  content: "VicPro";
  background-color: white;
  color: #4790D0;
  font-weight: bold;
  font-size: .5em;
  position: absolute;
  left: 0px;
  bottom: -10px;
  padding: 1px 1px;
  border-radius: 3px;
  border: 1px solid #4790D0;
  height: 7px;
}

.group-VicStaff:after {
  content: "Staff";
  background-color: #4790D0;
  color: #FFF;
  font-weight: bold;
  font-size: .5em;
  position: absolute;
  left: 3px;
  bottom: -10px;
  padding: 1px 1px;
  border-radius: 3px;
  border: 1px solid #4790D0;
  height: 7px;
}

html {
  font-family: MuseoSans, sans-serif;
  background-color: #F0EFEB;
}

body.admin-interface {
  background-color: #FFFFFF;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
  border-radius: 5px;
  border: 1px solid #cac8c3;
  //background: transparent;
}
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border: 1px solid #cac8c3;
}

.btn-primary {
  border: 1px solid #387DC5;
  background: #4790D0;
}


.d-header {
    box-shadow: 0 0px 1px 0px rgba(0,0,0,0.25);
    background-color: #FAF9F5;
}

.list-controls .combo-box .combo-box-header {
    background: #fff;
    //border: 1px solid #DCDBD7;
    //color: white;
    font-size: 1.3195em;
    border-radius: 5px;
    border: 1px solid #4790D0;
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

//No more image cropping
#reply-control .d-editor-preview img:not(.thumbnail):not(.emoji),
.cooked img:not(.thumbnail):not(.emoji) {
  max-width: 100% !important;
  height: auto;
}

.victron-header {
    background-color: black;
    width: 100%;
    height: 2.1875em;
    color: white;
    font-weight: 300;
    font-size: 0.875em;
    line-height: 2.1875em;
}

.victron-header a {
    color: white;
    font-weight: 500;
}

.disclaimer {
  color: white;
  width: 75%;
  border-radius: 5px;
  margin-left: auto;
  padding: 30px;
  margin-right: auto;
  height: auto;
  text-align: center;
  background-color: #f7ab3e;
  font-size: 16px;
}

.modal-inner-container {
    border-radius: 5px;
    border-color: #FAF9F5;
}
