<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script>
function closeDisclaimer() {
    var x = document.getElementById("disclaimer");
    x.hidden = true
    Cookies.set('showDisclaimer', 'false');
}
function showOrHideDisclaimer() {
    var x = Cookies.get('showDisclaimer');
    console.log("show disclaimer " + x)
    if (x === "false") {
        closeDisclaimer()
    }
}
$(document).ready(function(){
    console.log("started")
    showOrHideDisclaimer()
});
</script>
